[package]
name = "cloudevents-sdk"
version = "0.3.1"
authors = ["Francesco Guardiani <francescoguard@gmail.com>"]
license-file = "LICENSE"
edition = "2018"
description = "CloudEvents official Rust SDK"
documentation = "https://docs.rs/cloudevents-sdk"
readme = "README.md"
repository = "https://github.com/cloudevents/sdk-rust"
exclude = [
    ".github/*"
]
categories = ["web-programming", "encoding", "data-structures"]

[lib]
name = "cloudevents"

[dependencies]
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
chrono = { version = "^0.4", features = ["serde"] }
delegate-attr = "^0.2"
base64 = "^0.12"
url = { version = "^2.1", features = ["serde"] }
snafu = "^0.6"
bitflags = "^1.2"
no-std-compat = { version = "^0.4.1", features = ["alloc"] }

[target."cfg(not(target_arch = \"wasm32\"))".dependencies]
hostname = "^0.3"
uuid = { version = "^0.8", features = ["v4"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "^0.3", features = ["Window", "Location"] }
uuid = { version = "^0.8", features = ["v4", "wasm-bindgen"] }

[dev-dependencies]
rstest = "0.6"
claim = "0.3.1"
version-sync = "^0.9"
serde_yaml = "0.8"

[workspace]
members = [
  ".",
  "cloudevents-sdk-actix-web",
  "cloudevents-sdk-reqwest",
  "cloudevents-sdk-rdkafka",
  "cloudevents-sdk-warp"
]
exclude = [
  "example-projects/actix-web-example",
  "example-projects/reqwest-wasm-example",
  "example-projects/rdkafka-example",
  "example-projects/warp-example",
]